button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#carouselExampleFade2{display: none;}
#barra {
  background-color: black!important;
  position: static !important;
  z-index: initial !important;
  justify-content: space-between;
  /* border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; */
    }

.flexcont{
  display: flex;
  align-items: center;
}
#carrito{margin-right: 20px;
color: white;}
body{background-color: rgba(0, 0, 0, 0.2);}

a {
  text-decoration: none;
  color: inherit;
}



.navbar-brand img{max-width: 80%;
  max-height: 70px;}

#offcanvasDarkNavbar{
  background-color: black!important;
}
.offlogo{width: 100px;
height: auto;}

.carousel-inner{background-color:rgba(0, 0, 0, 0.0);
border-bottom: 2px solid black;}
.carousel-item{padding: 3% 10%;}

.d-block.w-100{max-width: 100%;
  height: 600px;
  max-height: 600px;
  object-fit: cover;
  border-radius: 20px;}

.d-block.w-100:hover{
box-shadow: 2px 2px 10px 5px rgb(0, 0, 0);
border-radius: 20px;
transition: 1s;}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.text{
  font-size: 28px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 15px;
  border: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: border 0.3s;
}

.text:hover {
  background-color: rgba(0, 0, 0, 0.568);
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 6px 3px rgb(0, 0, 0);
  border-radius: 20px;
}

/* Add this CSS code to your existing CSS */

#Scards {
  margin: 10%;
  border-radius: 20px;
  align-items: center;
}

#Scards p {
  font-size: 16px;
  margin-top: 2%;
}

#Hcards {
  margin: 10%;
  border-radius: 20px;
  align-items: center;
}

#Hcards p {
  font-size: 16px;
  margin-top: 2%;
}

.card-img {
  object-fit: cover;
  justify-content: center;
  align-self: center;
  max-width: 100%;
  max-height: 100%;
  height: 500px;
  border-radius: 20px;
}

.cart-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-img-overlay:hover .cart-icon {
  opacity: 1;
}

.card-img-overlay .cart-icon i {
  color: white;
  font-size: 24px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card-img-overlay .cart-icon:hover i {
  color: aqua;
}



/* Your existing CSS styles */

/* Add the following styles for the cart popup */
.cart-popup {
  position: fixed;
  color: rgb(0, 0, 0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.945);
  border-radius: 5px;
  padding: 20px;
  width: 500px;
  max-width: 600px;
  max-height: 600px;
  overflow-y: auto;
  z-index: 999;
  display: none;
  border: 2px solid rgb(0, 0, 0);
}
.bag{
  position: fixed;
  color: rgb(0, 0, 0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.945);
  border-radius: 5px;
  padding: 20px;
  width: 500px;
  max-height: 500px;
  overflow-y: auto;
  z-index: 999;
  display: none;
  border: 2px solid rgb(0, 0, 0);
}

.open {
  display: block;
}

.cart-popup .cart-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.cart-popup .cart-item .cart-popup-img {
  width: 200px;
  height: 200px;
  max-width: 300px;
  max-height: 400px;
  object-fit: cover;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin-right: 10px;
}

.cart-popup .cart-item .info {
  flex-grow: 1;
  display: flex;
  margin: 0 20px;
  flex-direction: column;
}

.cart-popup .cart-item .info h3 {
  margin: 0;
  justify-content: left;
}

.cart-popup .cart-item .info .price {
  margin-top: 10px;
  font-weight: bolder;
}


.cart-popup .cart-item .info p {
  margin: 2px 0 0;
  justify-content: left;
  
}

.cart-popup #add-to-cart-btn {
  margin-top: 10px;
  margin-right: 5px; /* Add margin-right */
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-popup #go-to-cart-btn {
  margin-top: 10px;
  margin-left: 5px; /* Add margin-left */
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}


.cart-popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: #aaa;
  cursor: pointer;
}

.cart-popup .close-btn:hover{
  color: RED;
}

.cart-popup .cart-total {
  font-weight: bold;
  margin-bottom: 10px;
}

.cart-popup .cart-item .info .specs {
  margin: 5px 0 0;
  white-space: pre;
  text-align: left;
}



@media screen and (max-width: 800px){
  
#Scards{margin: 0%;
  margin-top: 8%;
  border-radius: 0px;}
#Hcards{margin: 0%;
  margin-top: 8%;
  border-radius: 0px;}
.card-img{border-radius: 0px;
  object-fit: cover;
  max-width: 100%;
  max-height: 300px;
  height: 300px;}

.navbar-brand{max-width: 30%;
max-height: 100%;}
.carousel-item{padding: 0% 0%;}
.carousel-inner{background-color: black;}
.d-block.w-100{
  max-height: 100%;
  border-radius: 0px}
.text{
    font-size: 16px;
    padding: 10px;
    }
.text:hover {
        box-shadow: 1px 1px 6px 3px rgba(255, 255, 255, 0.562);
        border-radius: 10px;
        transition: 1s;
  }
  
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(0%);}

}