* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: rgb(255, 255, 255);
  }
  
  li, a, p {
    text-decoration: none;
    color: white;
  }
  
  .top {
    display: flex;
    position: fixed;
    z-index: 999;
    background-color:  rgb(255, 255, 255);
    top: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 80px;
  }
  
  .logo {
    width: 80px;
    max-height: 100%;
    z-index: 999;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 78px;
    height: 80px;
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    z-index: 999;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  p {
    font-weight: bold;
    font-size: 22px;
  }
  
  p:hover {
    color: rgba(0, 160, 184, 0.582);
  }
  
  span {
    color: rgba(0, 160, 184, 0.596);
  }
  
  .navlinks {
    list-style: none;
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navlinks li {
    padding: 10px 20px;
    margin: 0px 10px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .navlinks li:hover {
    box-shadow: 1px 1px 6px 3px white;
    border-radius: 20px;
    scale: 1.1;
    transition: 0.5s;
  }
  
  .cta {
    font-weight: bold;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 20px 20px;
    background-color: rgba(0, 160, 184, 0.468);
    border-radius: 20px;
  }
  
  .cta:hover {
    scale: 1.10;
    transition: 0.5s;
  }
  
  /*@media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      height: auto;
    }
  
    .navlinks {
      max-width: 100%;
      padding: 20px 0;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  
    .navlinks li {
      display: inline-block;
      padding: 10px 20px;
      margin: 10px 0;
      font-weight: bold;
      font-size: 18px;}
    }*/

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 80px;
        height: auto;
        width: 100%;
        padding: 20px 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      
      .navbar a {
        display: block;
        text-align: center;
        padding: 10px;
      }
      
      .navlinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: none;
      }
      
      .navlinks li {
        display: block;
        padding: 5px 10px;
        margin: 10px 0;
        font-size: 16px;
        text-align: center;
      }

      .navlinks li:hover {
        box-shadow: 1px 1px 2px 1px white;
        border-radius: 20px;
        transform: scale(1.1);
        transition: 0.5s;}
      
      .cta {
        display: block;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 10px 20px;
      }
    }
  