#barra {
  background-color: black!important;
  height: 80px;
  position: static !important;
  z-index: initial !important;
  /* border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; */
    }

a {
  text-decoration: none;
  color: inherit;
}
    
.navbar-brand img{max-width: 80%;
  max-height: 80px;}

#offcanvasDarkNavbar{
  background-color: black!important;
}
.offlogo{width: 100px;
height: auto;}

.carousel-inner{background-color:rgba(0, 0, 0, 0.0);}
.carousel-item{padding: 3% 10%;}

.d-block.w-100{
  max-height: 600px;
  border-radius: 20px;}
  

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.text{
  font-size: 28px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 15px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: border 0.3s;
}

.text:hover {
  box-shadow: 1px 1px 6px 3px rgb(255, 255, 255);
  border-radius: 20px;
  transition: 1s;
}

  
@media screen and (max-width: 800px){
#barra {
      background-color: black!important;
      position: static !important;
      z-index: initial !important;
}
    
.navbar-collapse.offcanvas-collapse {
      top: 70px;
  } 
.navbar-brand img{max-width: 60%;
  max-height: 50px;}

.text{
  font-size: 16px;
  padding: 10px;
  }
.text:hover {
      box-shadow: 1px 1px 6px 3px rgba(255, 255, 255, 0.562);
      border-radius: 10px;
      transition: 1s;
}
}

